<!DOCTYPE HTML>

<html>
	<head>
		<title>Growth & Learning Sources</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="/css/main.css" />

	</head>

	<body>
		<!-- Sidebar -->
		<section id="sidebar">
			<div class="inner">
				<nav>
					<ul>
						<li><a href="#intro">Welcome</a></li>
						<li><a href="#one">Feed Your Mind</a></li>
						<li><a href="#two">Apps for Growth</a></li>
						<li><a href="#three">Let's Connect</a></li>
					</ul>
				</nav>
			</div>
		</section>

		<div id="wrapper">
			<!--INTRO JUMBOTRON -->
			<section id="intro" class="wrapper style1 fullscreen fade-up">
				<div class="inner">
					<h1>Friends + Family</h1>
					<p>Selfishly Sharing Content for Your Growth + Learning. <br/> When You Get Better, I Get Better. We Are A Team.</p>
				</div>
			</section>

			<!-- ARTICLES - ONE  -->
			<section id="one" class="wrapper style2 spotlights">
				{{#links}}
					<section>
					<a href="#" class="image"><img src="{{image}}" alt="" data-position="center center" /></a>
					<div class="content">
						<div class="inner">
							<h2>{{title}}</h2>
							<p>{{description}}</p>
							<ul class="actions">
								<li><a href="#" class="button">Learn more</a></li>
							</ul>
						</div>
					</div>
					</section>
				{{/links}}
				
			</section>

			<!-- APPS FOR GROWTH - TWO -->
			<section id="two" class="wrapper style3 fade-up">
				<div class="inner">
					<h2>Apps: Grow Your Brain While On The Go</h2>
					<p>I have an insatiable need for lifelong learning. These are some of the more useful tools I use.</p>
					<div class="features">
						<section>
							<span class="icon major fa-code"></span>
							<h3>Blinkist</h3>
							<p>Provides book summaries. Great discovery tool for books, both new and old. I listen to a book a day.</p>
						</section>
						<section>
							<span class="icon major fa-lock"></span>
							<h3>Headspace</h3>
							<p>Makes meditation fun + easy!  Meditate in as little as 3 minutes. Try it. I'm telling you...</p>
						</section>
						<section> 
							<span class="icon major fa-cog"></span>
							<h3>Holy Bible</h3>
							<p>Pearls of wisdom for staying grounded..Helps me reflect upon my life's purpose.</p>
						</section>
						<section>
							<span class="icon major fa-desktop"></span>
							<h3>The Great Courses</h3>
							<p>An eclectic mix of learning from the worlds greatest professors. Has both video + audio.</p>
						</section>
						<section>
							<span class="icon major fa-chain"></span>
							<h3>MindValley</h3>
							<p>An Out of the Box Education Co. Cannot say I agree with it all. Still, great admiration for their work.</p>
						</section>
						<section>
							<span class="icon major fa-diamond"></span>
							<h3>Duolingo</h3>
							<p>A unique way to learn languages. I'm studying English, Spanish, French, Italian, and Portugues!</p>
						</section>
					</div>

					<ul class="actions">
						<li><a href="#" class="button">Learn more</a></li>
					</ul>

				</div>
			</section>

			<!-- LETS CONNECT - THREE -->
			<section id="three" class="wrapper style1 fade-up">
				<div class="inner">
					<h2>Let's Connect</h2>
					<div class="split style1">
						<section>
							<div>
								<p>I'm obsessed with being of service. If you ever want to discuss any of these topics I share,
								 have a question, care to share some of your own knowledge with me, or just need someone who listens, 
								 feel free to reach out via any one of these means.
								I'm always happy to help :)
								</p>	
			
									<h3>Social</h3>
									<ul class="icons">
										<li><a href="https://twitter.com/afterbootcamp" class="fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://github.com/stevieismagic" class="fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="https://www.facebook.com/stevie.ismagic" class="fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="https://www.linkedin.com/in/ocamposteven/" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
										<li><a href="https://www.instagram.com/stevieismagic/" class="fa-instagram"><span class="label">Instagram</span></a></li>
									</ul>
								
							</div>
						</section>
						<section>
							<ul class="contact">	
								<li>
									<h3>Email</h3>
									<a href="mailto:stevieismagic@gmail.com">stevieismagic@gmail.com</a>
								</li>
								<li>
									<h3>Phone</h3>
									<span>(305) 515-5856 </span>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</section>
		</div>

		<footer id="footer" class="wrapper style1-alt">
			<div class="inner">
				<ul class="menu">
					<li>&copy; StevieIsMagic. All rights reserved.</li>
				</ul>
			</div>
		</footer>


		<!-- Turbo library imports: jQuery, Turbo CDN, sample app.js -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/dropzone.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="/js/main.js"></script>

		<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script> <!-- Your app specific code -->
	</body>
</html>
